@use '../../foundation/global' as g;


.l-thumbnail {
    width: fit-content;
    margin: auto;
}

.site-title_move {
    display: flex;
}

.site-title_move span {
    font-weight: bold;
    font-size: 31px;
    padding-left: 10px;
    // アニメーション関連
    opacity: 0;
    animation: textanimation 5s infinite forwards;
}

.site-title_move span:nth-child(1) {
    animation-delay: 0.2s;
}

.site-title_move span:nth-child(2) {
    animation-delay: 0.4s;
}

.site-title_move span:nth-child(3) {
    animation-delay: 0.6s;
}

.site-title_move span:nth-child(4) {
    animation-delay: 0.8s;
}

@keyframes textanimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

// 文章入力
.l-content_description {
    font-size: 0.8rem;
    position: absolute;
    margin-top: -37vw;
    margin-left: 21vw;
    width: 70%;
    line-height: 6vw;

    @include g.mq(md) {
        font-size: 1.2rem;
        line-height: 5vw;

    }
}

p.img {
    width: max-content;
    margin: 0 auto;
}

// Works
.works-production {


    @include g.mq(md) {
        display: flex;
        flex-wrap: wrap;
    }
}

.works-production_second {


    @include g.mq(md) {}
}

h3.workd-title {
    font-size: 3vw;
    margin: 1vw 0vw 5vw 1vw;
    padding-right: 4vw;
    padding-left: 4vw;

    @include g.mq(md) {
        font-size: 2vw;
    }
}