@use '../../foundation/global' as g;


.p-md_nav {
    @include g.mq(md) {
        right: 0;
        height: 0;
        opacity: inherit;
        width: 80%;
        font-family: Pt Sans;
    }
}


#menu-sidebar-nav {
    @include g.mq(md) {
        display: flex;
        justify-content: flex-end;
        margin-top: -50px;

    }
}

li.menu-item a {
    @include g.mq(md) {
        padding-right: 20px;
        margin-right: 2vw;
        border-right: 1px solid #8f8e8e68;
    }
}