@use '../../foundation/global' as g;

.wp-block-video {
    @include g.deboss-box(.15, .2, .7);
    box-shadow: 10px 10px 4px #ccc;
    padding-top: 4vw;

}

.wp-block-group.has-background.has-medium-font-size {
    padding: 3vw 7vw;
    margin-top: 4vw;
}