@use '../foundation/global' as g;


.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
    height: 50px;

    @include g.mq(md) {
        height: 65px;

    }
}

.l-wrapper {
    min-height: 100vh;
    position: relative;
    padding-bottom: 100px;

}